
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{ transaction.total }}</h3>

              <p>New Orders</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="{{ __site_url 'order' }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{ customers.total }}</h3>

              <p>Customer</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="{{ __site_url 'customers' }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ products.total }}</h3>

              <p>Products</p>
            </div>
            <div class="icon">
              <i class="ion ion-ipad"></i>
            </div>
            <a href="{{ __site_url 'products' }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{ __number_format saldo.total 0 '' ',' }}</h3>

              <p>Saldo Peticash</p>
            </div>
            <div class="icon">
              <i class="ion ion-pricetags"></i>
            </div>
            <a href="{{ __site_url 'peticash' }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <div class="col-xs-12">
		<div class="box">
              <table class="table table-bordered table-striped">
                <thead>
					<tr><th>Email</th><th>Total</th></tr>
				</thead>
				<tbody>
				{{#each sum_orders}}
				<tr><td>{{ uemail }}</td><td>{{ __number_format ttotal 0 '' ',' }}</td></tr>
                {{/each}}
				</tbody>
				</table>
		</div>
		</div>
      </div>
      <div class="row">
		<div class="box" style="padding:5px;margin:15px;">
					<p>Selamat Datang <b>{{ __global_login 'uemail' }}</b> Di Sistem Informasi Toko Mainan.</p>
					<p><i>*) Disaranakan Menggunakan Tidak Menggunakan Internet Explorer</i></p>
					<p><i>*) Pastikan tidak meninggalkan panel ini dalam keadaan login</i></p>
		</div>
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
