  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Stock Opname
        <small>Opname</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><a href="#">Stock Opname</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Stock Opname</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            {{{ error_msg }}}
            
              <table id="sTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Product</th>
                  <th>Begining</th>
                  <th>In</th>
                  <th>Out</th>
                  <th>Return</th>
                  <th>Final</th>
                  <th>Process</th>
                  <th>Left</th>
				  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <?php endforeach; ?>
				{{#each data}}
                <tr class="pid_inventory" data-pid="{{ ipid }}">
                  <td>{{ pname }}</td>
                  <td>{{ istockbegining }}</td>
                  <td>{{ istockin }}</td>
                  <td>{{ istockout }}</td>
                  <td>{{ istockreturn }}</td>
                  <td class="final_{{ ipid }}">{{ istock }}</td>
                  <td class="proccess_{{ ipid }}">0</td>
                  <td class="left_{{ ipid }}">0</td>
				  <td>
					{{#if (__check_permission 'OpnameExecute') }}
					<a href="{{ __site_url 'opname/opname_update/' }}{{ ipid }}"><i class="fa fa-pencil"></i></a>
					{{/if}}
				  </td>
                </tr>
                {{/each}}
                </tbody>
                <tfoot>
                <tr>
                  <th>Product</th>
                  <th>Begining</th>
                  <th>In</th>
                  <th>Out</th>
                  <th>Return</th>
                  <th>Final</th>
                  <th>Process</th>
                  <th>Left</th>
				  <th>Action</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<script>
$('tr.pid_inventory').each(function(k,v) {
	$.post( "{{ __site_url 'ajax/stock_proccess' }}", {pids: $(v).attr('data-pid')}).done(function( data ) {
		$('.left_'+$(v).attr('data-pid')).html($('.final_'+$(v).attr('data-pid')).html());
		
		var sfinal = parseInt($('.final_'+$(v).attr('data-pid')).html()) - data.total;
		$('.proccess_'+$(v).attr('data-pid')).html(data.total);
		$('.left_'+$(v).attr('data-pid')).html(sfinal);
	});
})
</script>
