  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Product
        <small>Update Product</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Product</a></li>
        <li class="active"><a href="#">Update Product</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            {{{ error_msg }}}
            
           <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Update Product</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ __site_url 'products/products_update' }}" method="post">
            <input type="hidden" name="id" value="{{ data.pid }}">
              <div class="box-body">
                <div class="form-group">
                  <label for="Category" class="col-sm-2 control-label">Category</label>

                  <div class="col-sm-10">
					  <select name="cid" class="form-control" id="Category">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Product</label>
                  <div class="col-sm-10">
                    <input type="text" name="name" class="form-control" id="inputEmail3" placeholder="Product Name" value="{{ data.pname }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="PriceBase" class="col-sm-2 control-label">Price Base PCS</label>
                  <div class="col-sm-10">
                    <input type="hidden" name="tmppricebasepcs" class="form-control"  value="{{ data.ppricebasepcs }}">
                    <input type="text" onkeyup="formatharga(this.value,this)" autocomplete="off" name="pricebasepcs" class="form-control" id="PriceBase" placeholder="Price Base PCS" value="{{ __number_format data.ppricebasepcs 0 '' ',' }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="PriceBaseLusin" class="col-sm-2 control-label">Price Base Lusin</label>
                  <div class="col-sm-10">
                    <input type="hidden" name="tmppricebasedozen" class="form-control"  value="{{ data.ppricebasedozen }}">
                    <input type="text" onkeyup="formatharga(this.value,this)" autocomplete="off" name="pricebasedozen" class="form-control" id="PriceBaseLusin" placeholder="Price Base Lusin" value="{{ __number_format data.ppricebasedozen 0 '' ',' }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="PriceBaseKoli" class="col-sm-2 control-label">Price Base Koli</label>
                  <div class="col-sm-10">
                    <input type="hidden" name="tmppricebasekoli" class="form-control"  value="{{ data.ppricebasekoli }}">
                    <input type="text" onkeyup="formatharga(this.value,this)" autocomplete="off" name="pricebasekoli" class="form-control" id="PriceBaseKoli" placeholder="Price Base Koli" value="{{ __number_format data.ppricebasekoli 0 '' ',' }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="PricePCS" class="col-sm-2 control-label">Price PCS</label>
                  <div class="col-sm-10">
                    <input type="hidden" name="tmppricepcs" class="form-control"  value="{{ data.ppricepcs }}">
                    <input type="text" onkeyup="formatharga(this.value,this)" autocomplete="off" name="pricepcs" class="form-control" id="PricePCS" placeholder="Price PCS" value="{{ __number_format data.ppricepcs 0 '' ',' }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="PriceLusin" class="col-sm-2 control-label">Price Lusin</label>
                  <div class="col-sm-10">
                    <input type="hidden" name="tmppricedozen" class="form-control"  value="{{ data.ppricedozen }}">
                    <input type="text" onkeyup="formatharga(this.value,this)" autocomplete="off" name="pricedozen" class="form-control" id="PriceLusin" placeholder="Price Lusin" value="{{ __number_format data.ppricedozen 0 '' ',' }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="PriceKoli" class="col-sm-2 control-label">Price Koli</label>
                  <div class="col-sm-10">
                    <input type="hidden" name="tmppricekoli" class="form-control"  value="{{ data.ppricekoli }}">
                    <input type="text" onkeyup="formatharga(this.value,this)" autocomplete="off" name="pricekoli" class="form-control" id="PriceKoli" placeholder="Price Koli" value="{{ __number_format data.ppricekoli 0 '' ',' }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="KoliQTY" class="col-sm-2 control-label">Koli QTY</label>
                  <div class="col-sm-10">
                    <input type="number" autocomplete="off" name="koliqty" class="form-control" id="KoliQTY" placeholder="Koli QTY" value="{{ data.pkoliqty }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Description" class="col-sm-2 control-label">Description</label>

                  <div class="col-sm-10">
                    <textarea type="text" name="desc" class="form-control" id="Description" placeholder="Description">{{ data.pdesc }}</textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">Status</label>

                  <div class="col-sm-10">
                    <div class="checkbox">
					  {{{ __get_status data.pstatus 2 }}}
                  </div>
                  </div>
                </div>

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" onclick="javascript:history.go(-1);" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<script>
$('#Category').selectAjax("/ajax/categories/",{{ data.pcid }});
</script>
