<html>
<title>Report Transaction</title>
<body>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
<div class="box box-primary">
                                <!-- form start -->
                                    <div class="box-body">
									<h2 style="border-bottom:1px solid #000">Report Transaction</h2>
									
									<table border="0" style="border-collapse: collapse;width:45%">
									<tr><td>Date</td><td>: {{ from }} - {{ to }}</td></tr>
									<tr><td>Type</td><td>: {{ __get_transactions type }}</td></tr>
									<tr><td>Reporting Type</td><td>: {{ __get_reporting_type rtype }}</td></tr>
									<tr><td>Approval</td><td>: {{ approval }}</td></tr>
									</table>
									<br />
                                        <div class="form-group">
										<table border="0" style="border-collapse: collapse;width:100%">
										<thead>
										<tr style="border:1px solid #000;padding:3px;">
										<th style="border:1px solid #000;padding:3px;width:5%;">No.</th>
										<th style="border:1px solid #000;padding:3px;">Date</th>
										<th style="border:1px solid #000;padding:3px;">User</th>
										<th style="border:1px solid #000;padding:3px;">Trans No.</th>
										<th style="border:1px solid #000;padding:3px;">Descrpiton</th>
										<th style="border:1px solid #000;padding:3px;">Product</th>
										<th style="border:1px solid #000;padding:3px;">Price</th>
										{{#if (__check_permission 'ProductsPriceBase') }}
										<th style="border:1px solid #000;padding:3px;">Price Base</th>
										{{/if}}
										<th style="border:1px solid #000;padding:3px;width:5%;">QTY</th>
										<th style="border:1px solid #000;padding:3px;">Bruto</th>
										<th style="border:1px solid #000;padding:3px;">Discount</th>
										{{#if (__check_permission 'ProductsPriceBase') }}
										<th style="border:1px solid #000;padding:3px;">Netto</th>
										{{/if}}
										</tr>
										</thead>
										<tbody>
										{{#each data}}
										<tr style="border:1px solid #000;padding:3px;">
										<td style="border:1px solid #000;padding:3px;">{{ no }}</td>
										<td style="border:1px solid #000;padding:3px;">{{ __get_date tdate 2 }}</td>
										<td style="border:1px solid #000;padding:3px;">{{ __parse_json tcreatedby 'uemail' }}</td>
										<td style="border:1px solid #000;padding:3px;">{{ tno }}</td>
										<td style="border:1px solid #000;padding:3px;">{{ tdesc }}</td>
										<td style="border:1px solid #000;padding:3px;">{{ pname }}</td>
                  <td style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format tprice 0 '' ',' }}</td>
										{{#if (__check_permission 'ProductsPriceBase') }}
                  <td style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format tpricebase 0 '' ',' }}</td>
										{{/if}}
										<td style="border:1px solid #000;padding:3px;text-align:right;">{{ tqty }}</td>
                  <td style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format bruto 0 '' ',' }}</td>
                  <td style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format tdiscount 0 '' ',' }}</td>
										{{#if (__check_permission 'ProductsPriceBase') }}
                  <td style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format netto 0 '' ',' }}</td>
										{{/if}}
										</tr>
										{{/each}}
										<tbody>
										<tfoot>
										<tr style="border:1px solid #000;">
											<th colspan="4" style="border:1px solid #000;padding:3px;">Total</th>
											<th style="border:1px solid #000;padding:3px;"></th>
											<th style="border:1px solid #000;padding:3px;"></th>
											<th style="border:1px solid #000;padding:3px;text-align:right;"></th>
											<th style="border:1px solid #000;padding:3px;text-align:right;"></th>
											<th style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format grantTotal.ttotalQTY 0 '' ',' }}</th>
											<th style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format grantTotal.ttotalBru 0 '' ',' }}</th>
											<th style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format grantTotal.ttotalDisc 0 '' ',' }}</th>
										 {{#if (__check_permission 'ProductsPriceBase') }}
											<th style="border:1px solid #000;padding:3px;text-align:right;">{{ __number_format grantTotal.ttotalNet 0 '' ',' }}</th>
										 {{/if}}
										</tr>
										</tfoot>
										</table>
                                        </div>
                            </div>
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
</body>
</html>
