  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Purchase Return
        <small>New Purchase Return</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Purchase Return</a></li>
        <li class="active"><a href="#">New Purchase Return</a></li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
            {{{ error_msg }}}
            
           <div class="box box-info">
            <div class="box-header with-bretur">
              <h3 class="box-title">New Purchase Return</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{{ __site_url 'retur/retur_add' }}" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="Customer" class="col-sm-2 control-label">Date</label>

                  <div class="col-sm-10">
                    <input type="text" name="waktu" class="form-control" id="DateTimePicker" placeholder="Date Return" value="{{ __get_date '' 2 }}">
                  </div>
                </div>
                <div class="form-group">
                  <label for="Customer" class="col-sm-2 control-label">Customer</label>

                  <div class="col-sm-10">
					<select name="customer" class="form-control" id="Customer">
                    </select>
                    <br />
                    <br />
                <a href="{{ __site_url 'customers/customer_quick_add' }}" id="addCustomer" class="btn btn-default">Add Customer</a>
                  </div>
                </div>
                <div class="form-group hide">
                  <label for="inputPassword3" class="col-sm-2 control-label">Status</label>

                  <div class="col-sm-10">
                    <div class="checkbox">
					  {{{ __get_status 1 2 }}}
                  </div>
                  </div>
                </div>

				<hr />
                <div class="form-group">
                  <label for="Customer" class="col-sm-2 control-label">Add Product</label>

                  <div class="col-sm-10">
					<select name="product" class="form-control" id="AddDomProduct">
                    </select>
                  </div>
                </div>
				<hr />
				<div id="Products"></div>
				<hr />
				<br />
                <div class="form-group">
                  <label for="Discount" class="col-sm-2 control-label">Grand Total</label>

                  <div class="col-sm-10">
                    <input type="text" name="grandtotal" class="form-control" value="0" id="GrandTotal" placeholder="Grand Total" readonly>
                  </div>
                </div>
                <div class="form-group">
                  <label for="Description" class="col-sm-2 control-label">Description</label>

                  <div class="col-sm-10">
                    <textarea type="text" name="desc" class="form-control" id="Description" placeholder="Description"></textarea>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="button" onclick="javascript:history.go(-1);" class="btn btn-default">Cancel</button>
                &nbsp;
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

<script>
$(document).ready(function(){
	$("#addCustomer").fancybox({
		'width'				: '50%',
		'height'			: '50%',
		'autoScale'			: false,
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'type'				: 'iframe',
		  tpl : {
        closeBtn : '<a title="Close Add Customer" class="fancybox-item fancybox-close close-add-customer" href="javascript:;"></a>'
		},
	   afterClose : function(){
		   location.reload();
	   }
	});
	
	$("#AddProduct").fancybox({
		'width'				: '75%',
		'height'			: '100%',
		'autoScale'			: false,
		'transitionIn'		: 'none',
		'transitionOut'		: 'none',
		'type'				: 'iframe'
	});
	
	$.fancybox.originalClose = $.fancybox.close;
	
	$('#Customer').change(function(){
        var element = $(this).find('option:selected');
        var buyerType = element.attr("ctype");
        if (buyerType == 0) {
			$('div#Products').load('{{ __site_url "retur/retur_products?ctype=0" }}');
			
			$('a#fancybox-close').click(function(){
				$('div#Products').load('{{ __site_url "retur/retur_products?ctype=0" }}');
			});
			
			$.fancybox.close = function() {
				$('div#Products').load('{{ __site_url "retur/retur_products?ctype=0" }}');
				$.fancybox.originalClose();
			}
		}
        else {
	
			$('div#Products').load('{{ __site_url "retur/retur_products?ctype=1" }}');
			
			$('a#fancybox-close').click(function(){
				$('div#Products').load('{{ __site_url "retur/retur_products?ctype=1" }}');
			});
			
			$.fancybox.close = function() {
				$('div#Products').load('{{ __site_url "retur/retur_products?ctype=1" }}');
				$.fancybox.originalClose();
			}
		}
	});
	$('#Customer').change();
	$('#Customer').selectAjax("/ajax/customers/",0);
	$('#AddDomProduct').selectAjax("/ajax/products/",0);
	
	$('#AddDomProduct').change(function(){
		var productId = $(this).val();
			pid = [];
			pid[0] = productId;
			
		$.post( "/retur/retur_products_add", { pid: pid,type:1 }).done(function( data ) {
			if (data == -1) {
				$('div#Products').load('{{ __site_url "retur/retur_products?ctype=0" }}');
			}
		});
	});
});
</script>
